.projects {
  margin: 32px auto 200px;
}

.card {
  display: flex;
  border-radius: 15px;
  color: white;
  height: 200px;
  margin: 0 auto 75px !important;
  lost-column: 1/2 0 150px flex;
  transform-style: preserve-3d;
  transition: box-shadow .4s cubic-bezier(0.37, 0.61, 0.1, .96), transform .4s cubic-bezier(0.37, 0.61, 0.1, .96);

  &:hover {
    transform: scale(0.98);
  }

  &:first-child {
    lost-column: 1;
    lost-offset: 1.35/6;
  }

  &:last-child {
    lost-column: 1;
    lost-offset: -1.35/6;
    a {
      lost-align: right;
    }
  }

  &.black {
    color: var(--black);
  }

  &.half-size {
    height: 300px;
  }

  &.opf-size {
    height: 907px !important;
  }

  a {
    display: flex;
    border-radius: 25px;
    padding: 40px;
    width: 100%;
    background-size: 100%;
    color: var(--black);

    &:hover {
      /* border: 0 solid transparent; */
    }
  }

  div {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
  }

  h3 {
    font-size: 2rem;
    line-height: calc(1.5rem * 2rem);
    font-family: var(--sansSerif);
  }

  h4 {
    font-size: 1.375rem;
    line-height: calc(1.5rem * 1.375rem);
    font-family: var(--sansSerif);
    font-weight: normal;
    max-width: 512px;
  }
}

.pollarity {
  box-shadow: 0px 14px 32px 13px rgba(94, 255, 196, 0.15);
  &:hover {
    box-shadow: 0 14px 50px 5px rgba(94, 255, 196, 0.15);
  }
}
.grup {
  box-shadow: 0px 14px 32px 13px rgba(199, 199, 199, 0.4);
  &:hover {
    box-shadow: 0 14px 50px 5px rgba(199, 199, 199, 0.4);
  }
}
.offshore {
  box-shadow: 0px 14px 32px 13px rgba(192, 178, 127, .25);
  &:hover {
    box-shadow: 0 14px 50px 5px rgba(192, 178, 127, .25);
  }
}
.opus {
  a {
    color: var(--white) !important;
  }
  box-shadow: 0px 14px 32px 13px rgba(251, 233, 107, .3);
  &:hover {
    box-shadow: 0 14px 50px 5px rgba(251, 233, 107, .3);
  }
}
.tempest {
  box-shadow: 0px 14px 32px 13px rgba(255, 132, 124, .2);
  &:hover {
    box-shadow: 0 14px 50px 5px rgba(255, 132, 124, .2);
  }
}
.evanworks {
  box-shadow: 0px 14px 32px 13px rgba(99, 94, 255, .15);
  &:hover {
      box-shadow: 0 14px 50px 5px rgba(99, 94, 255, .15);
  }
}

@media (--mobile) {
  .card {
    lost-column: 1/1;
    &:first-child {
      lost-offset: clear clear-left;
    }
    &:last-child {
      lost-offset: clear clear-left;
    }
  }

  .card a {
    padding: 20px;
  }
}