.header {
  margin-top: 25vh;
  margin-bottom: 40vh;
  flex-direction: column;

  a {
    display: flex;
    font-size: 1.5rem;
    margin-right: auto;
    margin-top: 1rem;
  }
  span {
    font-size: 1.3rem;
    font-family: TB;
  }
}

h1 {
  font-size: 2rem;
  line-height: 3rem;
}

h2 {
  font-size: 1.275rem;
  font-weight: normal;
  line-height: 2rem;
  max-width: 512px;
}

.headline {
  font-size: 4rem;
  font-family: var(--sansSerifBold);
  line-height: initial;
}