nav {
  position: fixed;
  width: 100%;
  top: 5vh;
}

nav, footer {
  display: flex;
  height: 4em;
  z-index: 99 !important;

  .container {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-between;
  }
}

nav a, footer a {
  font-size: 1.25rem;
  margin-left: .5em;
  padding-bottom: .25em;

  &:first-child {
    margin-left: 0;
  }

  &.active {
    border-bottom: 2px solid var(--black);
  }
}

.top-nav-wrapper {
  width: 6em;
  height: 9em;
  right: 0;
}

.right-nav-logo {
  position: fixed;
  right: 0;
  bottom: 3em;
}

.left-nav-carret {
  height: 4em;
  background: var(--black);
  width: 1px;
  top: 45vh;
  position: absolute;
}

.filler-rect {
  flex: 1;
  border: 2px var(--black) solid;
}

.nav-rotate {
  display: flex;
  background: white;
  padding: 1em;
  z-index: 5;
  border-radius: 25px;
  box-shadow: 0px 15px 32px 0 rgba(199,199,199,0.3);
  transition: box-shadow .4s cubic-bezier(0.37, 0.61, 0.1, .96), transform .4s cubic-bezier(0.37, 0.61, 0.1, .96);
  &:hover {
    transform: translate3d(20px, 20px, 0px);
    box-shadow: 0px 15px 32px 5px rgba(199,199,199,0.3);
  }
  &:nth-of-type(2) {
    .github {
      border-bottom-color: #635EFF;
    }
    .linkedin {
      border-bottom-color: #78E3FD;
    }
  }
}

.single {
  margin-left: 0;
  height: 9em;
  width: 14px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.spread {
  top: 0;
  width: 14px;
  height: 9em;
  position: inherit;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.spread-1 {
  margin-left: 2em;
}

.spread-2 {
  margin-left: 4em;
}

@media(--mobile) {
  nav {
    margin-top: 0;
  }
}