@font-face {
  font-family: TB;
  src: url("../fonts/Theinhardt-Bold.woff");
}

@font-face {
  font-family: T;
  src: url("../fonts/Theinhardt-Regular.woff");
}

$purple: #635eff;
$blue: #78e3fd;
$green: #5EFFC4;
$red: #f25757;

$react: rgb(97, 218, 251);
$vue: rgb(65, 184, 131);
$angular: rgb(226, 50, 55);

:root {
  --black: #000000;
  --darkGray: #222;
  --mediumGray: #333;
  --lightGray: #444;
  --white: #ffffff;

  --baseFont: -apple-system,
    '.SFNSText-Regular',
    'San Francisco',
    'Roboto',
    'Segoe UI',
    'Helvetica Neue',
    'Lucida Grande',
    sans-serif;

  --sansSerif: 'T', var(--baseFont);
  --sansSerifBold: 'TB', var(--baseFont);
}

@custom-media --mobile (width < 750px);